h1 {
    color:green;

    }

* {
border: solid;
}
.header{
    background-color : darkblue;
       display: flex;
       justify-content: space-between;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
p,h2{
    text-align: center;
}
body{
    background-color: brown;
}
a:link{
    color: rgb(18, 6, 184);
}
a:visited{
    color: purple;
}